.sub-box{
  background: url("subBanner_assets/5.png"), url("subBanner_assets/3.png"), url("subBanner_assets/2.png"), url("subBanner_assets/1.png");
  background-size: cover;
  background-position: right;
  padding: 80px;
}

.sub-heading{
  color: #F1F5F9;
  font-size: 48px;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.429px;
}

.right-way{
  font-family: "Permanent Marker";
  color: #3b82f6;
}

.sub-terms{
  color: #94A3B8;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.sub-box{
  margin: 0 85px;
}

.sub-text-box{
  width: 54%;
}

@media only screen and (max-width: 1024px){
  .sub-box{
    padding: 50px;
  }

  .sub-heading{
    font-size: 36px;
    line-height: 38px;
  }

  .sub-terms{
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 700px){
  .sub-box{
    padding: 30px;
    flex-direction: column;
  }
  
  .sub-text-box{
    width: 90%;
  }

  .sub-heading{
    font-size: 24px;
  }

  .banner-sub-button{
    margin-top: 30px;
    width: 50%;
  }
}

@media only screen and (max-width: 600px){
  .sub-box{
    margin: 0 30px;
  }
  .banner-sub-button{
    width: 70%;
  }
}